<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="diplom.oleg.client.android">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Dark">
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.FirstScreenActivity"
            android:label="@string/title_activity_first_screen" />
        <activity
            android:name=".activity.TaskListActivity"
            android:label="@string/title_task_list"
            android:parentActivityName=".activity.FirstScreenActivity"
            android:theme="@style/AppTheme.Dark">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="diplom.oleg.client.android.activity.FirstScreenActivity" />
        </activity>
        <activity
            android:name=".activity.TaskDetailActivity"
            android:label="@string/title_task_detail"
            android:parentActivityName=".activity.TaskListActivity"
            android:theme="@style/AppTheme.Dark">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="diplom.oleg.client.android.activity.TaskListActivity" />
        </activity>
        <activity
            android:name=".activity.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.Dark" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="diplom.oleg.client.android.activity.FirstScreenActivity" />
        </activity>
        <activity android:name=".activity.CreateTaskActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="diplom.oleg.client.android.activity.FirstScreenActivity" />
        </activity>
    </application>

</manifest>